/* Reset Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Gill Sans,Gill Sans MT, Calibri, sans-serif !important;
}

/* Global Styles */
body {
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}

header {
    background-color: #fff;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #57A0D2;
    position: sticky;
    top: 0;
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
}

nav .logo {
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
    color: #F0F8FF;
    text-decoration: none;
}

nav .menu-toggle {
    display: none;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    display: block;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    color: #333;
    background-color: transparent;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    color: #c7c7c7;;
}

main {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

section {
    margin-bottom: 40px;
}

section h2 {
    margin-bottom: 20px;
}

section ul {
    list-style: none;
    margin-left: 20px;
}

section ul li a {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    color: #333;
}

section ul li a:hover {
    color: #aaa;
}

footer {
    background-color: #57A0D2;
    color: #fff;
    text-align: center;
    padding: 20px;
}

/* RESORT PREVIEWS*/
.resort-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  
  .resort {
    width: 300px;
    text-align: center;
  }
  
  .resort a {
    display: block;
    text-decoration: none;
    color: inherit;
  }
  
  .resort a:hover img {
    opacity: 0.8;
  }
  
  .resort img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    transition: opacity 0.3s ease-in-out;
  }
/* LIFT SEARCH */
  .lift-search {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .lift-search label {
    margin-right: 10px;
  }
  
  .lift-search select {
    margin-right: 10px;
  }
  
  .lift-search input[type="text"] {
    width: 300px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  .lift-search button[type="submit"] {
    background-color: #63B8FF;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
/* Profile */
    .profile {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 20px;
    }

    .profile-image {
        flex-basis: 200px;
        margin-right: 20px;
    }

    .profile-image img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius: 5px;
    }

    .profile-details {
        flex: 1;
    }

    .profile-details h2 {
        margin-top: 0;
    }

    .profile-details p {
        margin-bottom: 10px;
    }

    .profile-details ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
    }

    .profile-details li {
        flex-basis: 50%;
        margin-bottom: 10px;
    }

    .profile-details li span {
        font-weight: bold;
        margin-right: 10px;
    }
  
  

/* Media Queries */
@media (max-width: 768px) {
    nav .container {
        flex-direction: column;
    }

    nav .logo {
        margin-bottom: 20px;
    }

    nav .menu-toggle {
        display: block;
        font-size: 20px;
        font-weight: bold;
        color: #333;
        cursor: pointer;
    }

    nav ul {
        flex-direction: column;
        display: none;
        margin-top: 10px;
        padding: 0 20px;
    }

    nav ul li {
        margin-bottom: 10px;
    }

    nav ul li a {
        background-color: #333;
        color: #fff;
        border-radius: 0;
        transition: background-color 0.3s ease;
    }

    nav ul li a:hover {
        color: #aaa;
    }

    nav ul.active {
        display: flex;
    }
}
